h1 {
    font-size: 28px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    height: 100vh;
    background-color: rgb(25, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

#map_area {
    width: 1400px;
    height: 800px;
    background-color: rgb(25, 26, 26);
}

#graph_area {
    width: 1400px;
    height: 800px;
}

.section2 {
    height: 100vh;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display:inline-block;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-left: 2rem;
    padding-top: .9rem;
    padding-right: 2rem;
    padding-bottom: .9rem;
    background-color:#2979FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.button_section {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:  200px;
}

.r_border {
    border: 3px solid pink; /* redish-pink >#f55668  more red > #f14e4e*/
    border-radius: 15px;
}

.bar {
    fill: steelblue;
}
